.cartItem {
    width: 300px;
    height: 475px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 5px #aaaaaa;
    border: 1px solid #aaaaaa;
    margin-top: 20px;
}

