

@media(max-width: 375px){
    .mobileNav{
        display: flex;
        flex-direction: column;
        height: 100%;
        align-items: flex-end;
        width: 200px;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: #202020;
        overflow-x: hidden;
        padding: 24px;
    }
    
    .sidenavLinks{
        color: #FBFBFB;
        text-decoration: none;
        font-size: 32px;
        margin: 32px 0;
    }
    
    .x{
        color: #FBFBFB;
        font-size: 32px;
    }
}