.orders {
    width: 80vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    justify-content: space-between;
    margin-bottom: 24px;
    padding: 24px;
}

/* .checked {

} */