.lashCareContainer {
    height: 260vh;
    padding: 100px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.lashCareContainer p {
    font-size: 20px;
    border-left: 3px solid #FFDDDC;
    padding: 16px;
}

.lashCareContainer img {
    margin-right: 40px;
    /* border-left: 10px solid #FFDDDC; */
}

.bigImages {
    width: 350px;
    height: 350px;
    border: 8px solid #FFDDDC;
}

.lashCareContainer i {
    margin-right: 40px;
}
 
.textContainer {
    height: 200px;
    display: flex;
    align-items: center;
    line-height: 1.8;
    /* margin-top: 60px; */
}

.post {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.listItems {
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


@media(max-width: 375px){
    .textContainer img {
        width: 50px;
        height: 50px;
        line-height: 1;
    }

    .textContainer p {
        font-size: 12px;
    }
    
    .lashCareContainer{
        padding: 24px;
        height: 250vh;
        justify-content: space-around;
    }

    .lashCareContainer p {
        border: none;
        padding: 0;
    }

    .insta {
        display: none;
    }
    
    .listItems {
        width: 100%;
    }

    .lashCareContainer {
        padding: 60px 16px;
        height: 180vh;
    }
}


