.lashCareContainer {
    height: 1300px;
    padding: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.lashCareContainer p {
    font-size: 20px;
}

.lashCareContainer img {
    margin-right: 40px;
}

.textContainer {
    height: 100px;
    display: flex;
    align-items: center;
    line-height: 1.8;
}

@media(max-width: 375px){
    .textContainer img {
        width: 50px;
        height: 50px;
        line-height: 1;
    }

    .textContainer p {
        font-size: 14px;
    }
    
    .lashCareContainer{
        padding: 24px;
        height: 200vh;
        justify-content: space-around;
    }
}

