.heroImage {
    background-image: url('//cdn.shopify.com/s/files/1/0163/4078/t/61/assets/homepage_hero_image_1.jpg?16574939919270013573');
    width: 100vw;
    height: 80vh;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 135px;
    color: #FBFBFB;
}

.logo {
    background-color: #FBFBFB;
    height: 10vh;
    /* font-family: 'Cedarville Cursive', cursive; */
    font-family: 'La Belle Aurore', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

.logoLink {
    color: #202020;
    text-decoration: none;
}