.registering {
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;   
    justify-content: space-around;
}

.registerContainer {
    padding: 200px;
    display: flex;
    justify-content: center;
}

.registering p {
    color: red;
}

@media(max-width: 375px){
    .registerContainer{
        padding: 50px 16px;
    }

    .registering{
        height: 400px;
    }
}