.registering {
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;   
    justify-content: space-around;
}

.registerContainer {
    margin-top: 80px;
    display: flex;
    justify-content: center;
}

.registering p {
    color: red;
}