.loginContainer {
    padding: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FBFBFB;
}

.login {
    width: 350px;
    height: 500px;
    margin-right: 100px;
}

.register {
    width: 400px;
    height: 500px;
    line-height: 1.8;
}

.login p {
    color: red;
    margin-top: 24px;
}