body {
  font-family: 'Lato';
}



input:focus {
  outline: none;
}

.example-enter{
  width: 0;
}

.example-enter.example-enter-active{
  width: 200;
  transition: width 500ms ease-in;
}

.example-leave{
  width: 200;
}

.example-leave.example-leave-active {
  width: 0;
  transition: width 300ms ease-in;
}

/* @media(){
  .mobileNav{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: flex-end;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #202020;
    overflow-x: hidden;
    padding-top: 50px;
    transition: 0.5s;
}

.sidenavLinks{
    color: #FBFBFB;
}
} */

